{% extends "layout.html" %}
{% block content %}

<form action="/calculate">    
    <input type="text" placeholder="A" name="name_a" id="name_a"/>
    <input type="text" placeholder="B" name="name_b" id="name_b"/>
    <input type="text" placeholder="P(A)" name="a" id="a"/>
    <input type="text" placeholder="P(B|A)" name="bga" id="bga"/>
    <input type="text" placeholder="P(B|A`)" name="bgna" id="bgna"/>
    <button type="submit">Calcualte</button>
</form>

{% if v %}

<canvas id="myCanvas" width="720" height="720" style="border:1px solid #d3d3d3;"></canvas>
<!-- <button onclick="draw_circle()">Circle</button>
<button onclick="draw_square()">Square</button> -->

    <script>
        window.onload = draw_square;

function draw_circle() {
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    // Colors
    var colors = ['#4CAF50', '#00BCD4', '#E91E63', '#FFC107', '#9E9E9E', '#CDDC39'];
    var angles = [Math.PI * 2 * {{ v['b_and_a']}}, Math.PI * 2 * {{ v['not_b_and_a']}}, Math.PI * 2 * {{ v['b_and_not_a']}}, Math.PI * 2 * {{ v['not_b_and_not_a']}}];
  
    d = canvas.width

    // Temporary variables, to store each arc angles
    var beginAngle = 0;
    var endAngle = 0;
  
    // Iterate through the angles
    for(var i = 0; i < angles.length; i++) {
        // Begin where we left off
        beginAngle = endAngle;
        // End Angle
        endAngle = endAngle + angles[i];
        
        ctx.beginPath();
        // Fill color
        ctx.fillStyle = colors[i % colors.length];
        
        // Same code as before
        ctx.moveTo(d * .4, d * .4);
        ctx.arc(d * .4, d * .4, d * .24, beginAngle, endAngle);
        ctx.lineTo(d * .4, d * .4);
        ctx.stroke();
        
        // Fill
        ctx.fill();
    }
}
    
function draw_square() {

    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.clearRect(0, 0, c.width, c.height);

    length = c.width / 1.44
    m = 10
    x = length/5
    y = length/5
    origin = 0
    circle_size = .8

    ctx.beginPath();
    ctx.rect(x, y, length, length);
    ctx.stroke();
    
    // sick not sick 
    ctx.beginPath();
    ctx.moveTo(x + (length * {{ v['a'] }}), y);
    ctx.lineTo(x + (length * {{ v['a'] }}),y + length);
    ctx.stroke();

    // sick and positive
    ctx.beginPath();
    ctx.moveTo(x, y + (length * {{ v['b_given_a'] }}));
    ctx.lineTo(x + (length * {{ v['a'] }}), y +  (length * {{ v['b_given_a'] }}));
    ctx.stroke();

    // not sick and positive
    ctx.beginPath();
    ctx.moveTo(x + (length * {{ v['a'] }}),y + (length * {{ v['b_given_not_a'] }}));
    ctx.lineTo(x + length, y +  (length * {{ v['b_given_not_a'] }}));
    ctx.stroke();


    // P(A)
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(x + (length * {{ v['a'] }})/2, y- (length/10))
    ctx.stroke();
    
    ctx.beginPath();
    ctx.moveTo(x + (length * {{ v['a'] }}), y);
    ctx.lineTo(x + (length * {{ v['a'] }})/2, y- (length/10))
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ a }}) = P({{ b }}|{{ a }}) + P({{ b }}`|{{ a }})", x + (length * {{ v['a'] }})/2, y- (length/10));
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['a'] }}", x + (length * {{ v['a'] }})/2 + c.width/18, y- (length/10) + c.width/36);



    // P(A`)
    ctx.beginPath();
    ctx.moveTo(x + (length * {{ v['a'] }}), y);
    ctx.lineTo(x + (length * {{ v['a'] }})/2 + (length)/2, y- (length/10))
    ctx.stroke();
    
    ctx.beginPath();
    ctx.moveTo(x + length, y);
    ctx.lineTo(x + (length * {{ v['a'] }})/2 + (length)/2, y- (length/10))
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ a }}`) = P({{ b }}|{{ a }}`) + P({{ b }}`|{{ a }}`)", x + (length * {{ v['a'] }})/2 + (length)/2, y- (length/10));
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['not_a'] }}", x + (length * {{ v['a'] }})/2 + (length)/2 + c.width/18, y- (length/10) + c.width/36);



    //  P(B|A`)
    ctx.beginPath();
    ctx.moveTo(x + length, y);
    ctx.lineTo(x + length + (length/10),y + (length * {{ v['b_given_not_a'] }})/2);
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(x + length,y + (length * {{ v['b_given_not_a'] }}));
    ctx.lineTo(x + length + (length/10),y +  (length * {{ v['b_given_not_a'] }})/2);
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}|{{ a }}`)", x + length + (length/10), y +  (length * {{ v['b_given_not_a'] }})/2);
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['b_given_not_a']}}", x + length + (length/10), y +  (length * {{ v['b_given_not_a'] }})/2 + c.width/36);

        

    // P(B`|A`)
    ctx.beginPath();
    ctx.moveTo(x + length,y +( length * {{ v['b_given_not_a'] }}));
    ctx.lineTo(x + length + (length/10),y + (length * ({{ v['b_given_not_a'] }} + {{ v['not_b_given_not_a']}}/2)) );
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(x + length,y +  length);
    ctx.lineTo(x + length + (length/10),y + (length * ({{ v['b_given_not_a'] }} + {{ v['not_b_given_not_a']}}/2)) );
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}`|{{ a }}`)", x +  length + (length/10),y + (length * ({{ v['b_given_not_a'] }} + {{ v['not_b_given_not_a']}}/2)) );
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['not_b_given_not_a'] }}", x +  length + (length/10),y + (length * ({{ v['b_given_not_a'] }} + {{ v['not_b_given_not_a']}}/2)) + c.width/36 );

    // P(B|A)
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(x - (length/10),y+ (length * {{ v['b_given_a'] }})/2);
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(x,y+ (length * {{ v['b_given_a'] }}));
    ctx.lineTo(x - (length/10),y+ (length * {{ v['b_given_a'] }})/2);
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}|{{ a }})", x - (length/5),y+ (length * {{ v['b_given_a'] }})/2);
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['b_given_a'] }}", x - (length/5),y+ (length * {{ v['b_given_a'] }})/2 + c.width/36);
    
    
    // P(B`|A)
    ctx.beginPath();
    ctx.moveTo(x,y+ (length * {{ v['b_given_a'] }}));
    ctx.lineTo(x - (length)/10,y+ (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) );
    ctx.stroke();

    ctx.beginPath();
    ctx.moveTo(x,y+ length);
    ctx.lineTo(x - (length)/10,y+ (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) );
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}`|{{ a }})",x - (length)/5, y+ (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) );
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['not_b_given_a']}}",x - (length)/5, y+ (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) +c.width/36 );

    // P(B^A)
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(x - (length/10),y- (length/10));
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}^{{ a }})", x - (length/5),y- (length/10));

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['b_and_a'] }}", x - (length/5),y- (length/10) + c.width/36);

    // P(B`^A)
    ctx.beginPath();
    ctx.moveTo(x, y + length);
    ctx.lineTo(x - (length/10), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)));
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}`^{{ a }})", x - (length/5), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)));

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['not_b_and_a']}}", x - (length/5), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) + c.width/36);

    

    // P(B^A`)
    ctx.beginPath();
    ctx.moveTo(x + length, y);
    ctx.lineTo(x + length + (length/10),y- (length/10));
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}^{{ a }}`)", x + length + (length/10),y- (length/10));

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['b_and_not_a']}}", x + length + (length/10),y- (length/10) + c.width/36);



    // P(B`^A`)
    ctx.beginPath();
    ctx.moveTo(x + length, y + length);
    ctx.lineTo(x + length + (length/10), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)));
    ctx.stroke();

    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("P({{ b }}`^{{ a }}`)", x + length + (length/10), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)));
    
    ctx.font = c.width/48  + "px Arial";
    ctx.fillText("{{ v['not_b_and_not_a'] }}", x + length + (length/10), y + (length/10) + (length * ({{ v['b_given_a'] }} + {{ v['not_b_given_a']}}/2)) + c.width/36);


    // circles
    for (let i = x + length/(2 * m); i <x + length; i+=length/(1 * m)) {
        for (let j = y + length/(2 * m); j <y + length; j+=length/(1 * m)) {
            ctx.beginPath();
            ctx.arc(j, i, length/(2 * m) * circle_size, 0, 2 * Math.PI);
            ctx.stroke();
        }
    }
    }   
</script> 

<ol>
    <!-- initial -->
    <li>P({{ a }}) = {{ v['a'] }}</li>
    <li>P({{ b }}|{{ a }}) = {{ v['b_given_a'] }}</li>
    <li>P({{ b }}|{{ a }}`) = {{ v['b_given_not_a'] }}</li>
    <!-- inverse -->
    <li>P({{ a }}`) = 1 - P({{ a }}`) = {{ v['not_a'] }}</li>
    <li>P({{ b }}`|{{ a }}) = 1 - P({{ b }}|{{ a }}) =  {{ v['not_b_given_a'] }}</li>
    <li>P({{ b }}`|{{ a }}`) = 1 - P({{ b }}|{{ a }}`) =  {{ v['not_b_given_not_a'] }}</li>
    <!-- and  -->
    <li>P({{ b }}|{{ a }}) *   P({{ a }})  = P({{ b }} and {{ a }})  = {{ v['b_and_a'] }}</li>
    <li>P({{ b }}`|{{ a }}) *  P({{ a }})  = P({{ b }}` and {{ a }}) = {{ v['not_b_and_a'] }}</li>
    <li>P({{ b }}|{{ a }}`) *  P({{ a }}`) = P({{ b }} and {{ a }}`) = {{ v['b_and_not_a'] }}</li>
    <li>P({{ b }}`|{{ a }}`) * P({{ a }}`) = P({{ b }}` and {{ a }}`)= {{ v['not_b_and_not_a'] }}</li>

    <!-- b -->
    <li>P({{ b }} = P({{ b }}|{{ a }}) *   P({{ a }}) + P({{ b }}|{{ a }}`) *  P({{ a }}`) = P({{ b }} and {{ a }}) + P({{ b }} and {{ a }}`) = {{ v['b']}} </li>

    <!-- final values -->
    <li>P({{ a }}|{{ b }}) = P({{ b }} and {{ a }}) / P({{ b }})     = {{ v['a_given_b'] }}</li>
    <li>P({{ a }}|{{ b }}`) = P({{ b }}` and {{ a }}) / P({{ b }}`)  = {{ v['a_given_not_b'] }}</li>
    <li>P({{ a }}`|{{ b }}) = P({{ b }} and {{ a }}`) / P({{ b }})   = {{ v['not_a_given_b'] }}</li>
    <li>P({{ a }}`|{{ b }}`) = P({{ b }}` and {{ a }}`) / P({{ b }}`)= {{ v['not_a_given_not_b'] }}</li>
</ol>

<!-- {% for key, value in v.items() %}
{{ key }} : {{ value }}
{% endfor %}> -->
{% endif %}
{% endblock %}